@use "reset";
@use "variables" as v;
@import "mixin";

// Globales

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
h1 {
    font-size: v.$fontSizeTitleSmall;
    margin: 0;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    color: v.$colorMain;
    font-size: 1.1rem;
    padding: 1rem;
    border: v.$borderClassic;
    text-align: center;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #25a9e169, #40e4955b, #30dd8957, #2bb6734f, );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    border-radius: 50px;
    width: 15rem;

    &:hover {
        background-position: 100% 0;
    }
}

// header

.Header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(2px);

    .wrappers {
        justify-content: space-between;
        display: flex;

        .wrapper {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            padding: 0 1rem;

            img {
                width: 4rem;
                cursor: pointer;
            }

            h3 {
                font-weight: 100;
            }
        }

        ul {
            padding: 0;
            align-items: center;
            display: flex;
            column-gap: 2rem;


            li {
                font-size: v.$fontSizeLarge;
                font-family: 'Akatab', sans-serif;
                transition: all .5s ease-in-out;

                p {
                    cursor: pointer;
                }
            }

            li.active {

                color: rgb(43, 162, 127);


            }
        }
    }

}

#landing-page {
    @include center();
    min-height: 100vh;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


#focus-page {
    @include center();
    min-height: 100vh;

    .wrappers {
        display: flex;
        flex-direction: column;
    }

    .wrapper-focus {
        background-color: v.$backgroundGlobal;
        box-shadow: v.$boxShadow;
        border: v.$borderClassic;
        padding: 2rem;
        border-radius: 1rem;
        width: 40rem;
        margin: 2rem;
        display: flex;
        p{
            font-size: v.$fontSizedefault;
            color: v.$colorGreyfaded;
        }
    }
    .wrapper-regroup{
        display: flex;
    }
    .wrapper-image{
        flex-basis: 25%;
    }

    img {
        width: 10rem;
    }

}


#content-page {

    min-height: 100vh;

   

    .wrapper {
        max-width: 60rem;
        margin: 0 auto;
    }

    .wrapper-box {
        margin: 3rem 0;
        display: flex;
        background-color: rgb(233, 237, 241);
        border: v.$borderClassic;
        border-radius: 1rem;
        box-shadow: v.$boxShadow;
        padding: 2rem;
        transition: all .3s ease-in-out;
        flex-wrap: wrap;

        &:hover {
            transform: scale(1.05);
            background-color: v.$colorWhite;

        }
    }

    .wrapper-image {
        flex-basis: 25%;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            width: 50%;

        }
    }

    .wrapper-content {
        flex-basis: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem;

        p {
            font-size: 1rem;
            color: v.$colorGreyfaded;
        }
    }
}